<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<!--title-->
    <title>Help Network INTL</title>
	
	<!--CSS-->
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <link href="styles/magnific-popup.css" rel="stylesheet">
	<link href="styles/animate.css" rel="stylesheet">	
	<link href="styles/prettyPhoto.css" rel="stylesheet">	
	<link href="styles/main.css" rel="stylesheet">
	<link href="styles/responsive.css" rel="stylesheet">	
	
	<!--Google Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,500' rel='stylesheet' type='text/css'>
	
    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
<!-- Start Navigation -->

	<div class="navbar navbar-default" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img class="img-responsive" src="images/logo.jpg" alt="logo"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										<form class="form" role="form"  method="post" action="#" accept-charset="UTF-8" id="login-nav">
												<div class="form-group">
													 <label class="sr-only" for="email">Email address</label>
													 <input type="email" class="form-control" name="email" id= "email" placeholder="Email address" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="password">Password</label>
													 <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
													 <div class="help-block text-right"><a href="#">Forget the password ?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
												</div>
												<div class="checkbox">
													 <label>
													 <input type="checkbox"> keep me logged-in
													 </label>
												</div>
										 </form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="/user/new"><b>Join Us</b></a>
									</div>
							 </div>
						</li>
					</ul>
        </li>
					<li class="active"><a href="/">Home</a></li>
					<li><a href="#about-us">About Us</a></li>
					
					<li><a href="#pricing">Packages</a></li>
					<li><a href="#blog">Blog</a></li> 
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<div class="shadow"></div>
		</div>
	</div> <!-- End Navigation -->
	<header id="slider">
		<div id="main-carousel" class="carousel slide text-center" data-ride="carousel"> 
			<div class="overlay"></div>			
			<div class="carousel-inner">
				<div class="item active"  style="background-image: url(images/slider/logo.jpg)">
					<div class="slider-caption">
						<div class="container">
							<div class="row text-center">
								<div class="col-sm-12 slider-margin">
									<h1 class="fadeInUp">Welcome to <span>Help Network International</span></h1>
									<h2 class="fadeInUp"><strong>Making </strong> The <strong>World</strong> Better</h2>
									<a data-scroll href="#about-us" class="fadeInUp btn btn-primary">Learn More</a> <a data-scroll href="#about-us" class="fadeInUp btn btn-primary">Join-Us</a>
								</div>
							</div>
						</div>			
					</div>
				</div>
				<div class="item"  style="background-image: url(images/slider/logo.jpg)">
					<div class="slider-caption">
						<div class="container">
							<div class="row text-center">
								<div class="col-sm-12 slider-margin">
									<h1 class="fadeInUp">We are a <span>Family</span></h1>
									<h2 class="fadeInUp"><strong>united</strong> and <strong>Dependable</strong></h2>
									<a data-scroll href="#about-us" class="fadeInUp btn btn-primary">Join Us</a>
								</div>
							</div>
						</div>			
					</div>
				</div>
				
			</div>
			<!-- Carousel nav -->
			<a class="carousel-left" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
			<a class="carousel-right" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
		</div>
	</header> <!-- End Slider -->
	

	
	<div id="about-us">
		<div class="about">
			<div class="container">
				<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="col-md-offset-2 col-md-8">
						<h1>About Us</h1>
						<p>The company was founded by a team of enthusiastic humanitarian specialists who wanted to overcome the routine and create a platform that would act in the market not only for business success but for the sake of humanitarian and financial empowerment services.</p>

					</div>
				</div>
				<div class="row about-text">
					<div class="col-sm-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">						
						<img class="img-responsive" src="images/about_us.jpg" alt="" />
					</div>
					<div class="col-sm-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
						<h1>We are A Network of Helpers</h1>												
						<p>Help Network International was created with a heart to promote the greatest good, with particular emphasis on helping man and the environment.</p>
						<p>The wellbeing of the populace are our long-term lead. The commitment of our members sets us stand out from the crowd, while we develop people for the enduring liability in a real-time process.</p>
						<p>We are strictly out to help</p>
						<a href="#contact" class="btn btn-primary">Contact Us</a>
					</div>
				</div>
			</div>
		</div>		
	</div> <!-- End About -->
	
	<!-- <div id="our-service">
		<div class="container">
			<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="col-md-offset-2 col-md-8">
					<h1>Our Service</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
				</div>
			</div>
			<div class="row text-center serivce-content">
				<div class="col-sm-3 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<i class="fa fa-users"></i>
					<h2>Creative Team</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad </p>
				</div>
				<div class="col-sm-3 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="400ms">
					<i class="fa fa-gear (alias)"></i>
					<h2>Unique design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad </p>
				</div>
				<div class="col-sm-3 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
					<i class="fa fa-envelope"></i>
					<h2>24/7 Support</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad </p>
				</div>
				<div class="col-sm-3 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="600ms">
					<i class="fa fa-bomb"></i>
					<h2>Great Security</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad </p>
				</div>
			</div>
		</div>
	</div><! End Our Service --> 
	
<!-- 	<div id="call-to-action" class="parallax-section">
		<div class="overlay"></div>
		<div class="slider-caption">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-offset-2 col-sm-8 buy-theme wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<h1>Corpo has unique and modern design!</h1>
						<p>designed for Creative Agency</p>
						<a class="btn btn-primary" href="#">Buy Theme</a>
					</div>
				</div>
			</div>
		</div>
	</div><! End About --> 
<!-- 	<div id="portfolio">
		<div class="portfolio-area">
			<div class="container">
				<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="col-md-offset-2 col-md-8">
						<h1>PORTFOLIO</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
					</div>
				</div>
				<div class="row text-center wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="portfolio-menu">
						<ul>
							<li class="filter"  data-filter="all">Show All</li>
							<li class="filter"  data-filter="photograph">Photograph</li>
							<li class="filter"  data-filter="web-design">Web Design</li>
							<li class="filter"  data-filter="design">Print design</li>
							<li class="filter"  data-filter="graphic">Graphic</li>
							<li class="filter"  data-filter="art">Creative Art</li>
						</ul>
					</div>
					<div class="portfolio_contents">
						<ul id="portfolio_filter_action">							
							<li class="col-sm-4 mix photograph design all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_1.jpg" alt="Portfolio image" />
									</div>										
									<a class="portfolio_view" href="images/portfolio/portfolio_1.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix web-design graphic all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_2.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_2.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix photograph design graphic all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_3.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_3.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix web-design art all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_4.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_4.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix design graphic all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_5.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_5.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix photograph web-design art design all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_6.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_6.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix art design all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_7.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_8.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix web-design design all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_8.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_8.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
							<li class="col-sm-4 mix web-design design all">
								<div class="single_portfolio">
									<div class="portfolio-image">
										<img class="img-responsive" src="images/portfolio/portfolio_9.jpg" alt="Portfolio image" />
									</div>
									<a class="portfolio_view" href="images/portfolio/portfolio_9.jpg" data-rel="prettyPhoto"><i class="fa  fa-search-plus"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>		
	</div><! End Portfolio --> 
	
	<div id="statistics" class="parallax-section">
		<div class="overlay"></div>
		<div class="slider-caption">
			<div class="container">

				<div class="row count text-center">
					<div>
					<br><br>
						<h2>Members In Our Packages</h2>
					</div>
					
					<div class="col-sm-3 col-xs-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<div class="statistics_box">
							<i class="fa fa-clock-o"></i><br />
							<h1 class="timer">2130</h1> 
							<p>Classic</p>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="400ms">
						<div class="statistics_box">
							<i class="fa fa-heart"></i><br />
							<h1 class="timer">99</h1> 
							<p>Professional</p>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
						<div class="statistics_box">
							<i class="fa fa-location-arrow"></i><br />
							<h1 class="timer">335</h1> 
							<p>Premium</p>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="600ms">
						<div class="statistics_box">
							<i class="fa fa-coffee"></i><br />
							<h1 class="timer">245</h1> 
							<p>Ultimate</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
		<div id="about-us">
		<div class="about">
			<div class="container">
				<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="col-md-offset-2 col-md-8">
						<h1>How It Works</h1>
						<p><b>Register Free by clicking on "Register or Join" </b></p>

					</div>
				</div>
				<div class="row about-text">
					<div class="col-sm-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">						
																		
						<p>Upgrade your membership by donating an assigned amount to an assigned member  e.g upgrade to Grsde 1 by donating $20 (N6,000) to a Grade 1 member assigned to you a.k.a Your Level 1 Upline.
						</p>
						<p>Receive same amount you donated from each member among assigned number of members e.g receive donations of $20 (N6,000) from each member among 5 members assigned to you a.k.a Your Level 1 Downlines. You will receive a total donation of $100 (N30,000)</p>
						<!-- <p>We are strictly out to help</p> -->
						<a href="#contact" class="btn btn-primary"> Register </a>
					</div>
					<div class="col-sm-6 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
						<!-- <h1>We are A Network of Helpers</h1>												 -->
						<p>Continuously upgrade your membership until you reach Grade 10 e.g upgrade to Grade 2 by donating $40 (N12,000) to a Grade 2 member assigned to you a.k.a Your Level 2 Upline. </p>
						<p>You will receive donations of $40 (N12,000) from each member among 25 members assigned to you a.k.a Your Level 2 Downlines. You will receive a total donation of $1,000 (N300,000)</p>
						
						<a href="#contact" class="btn btn-primary"> Register </a>
					</div>
				</div>
			</div>
		</div>		
	</div> <!-- End About -->
	<div id="pricing">
		<div class="price_table">
			<div class="container">
				<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="col-md-offset-2 col-md-8">
						<h1>Our Packages</h1>
						<p><b>Select the appropriate package that suites you and make yourself stand out from the crowd</b></p>
					</div>
				</div>
				<div class="row text-center table-margin-bottom">
					<div class="col-sm-6 col-md-3">
						<div class="single-table wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
							<h1>Classic</h1>
							<span class="package-price"><strong> N5,000 </strong></span>
							<ul>
								<li>3:1 Matrix</li> 
								<li>Auto Assign</li>
								<li>Pay Out/In Option </li>
								<li>Referral Wallet</li>
								<li>Cash Out</li>
								<li>N15,000 Return Investment</li>
							</ul>
							<a class="btn btn-primary" href="#">Get This Plan</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="single-table wow zoomIn" data-wow-duration="1000ms" data-wow-delay="400ms">
							<h1>Professional</h1>
							<span class="package-price"><strong> N10,000 </strong></span>
							<ul>
								<li>2:1 Matrix</li> 
								<li>Auto Assign</li>
								<li>Pay Out/In Option </li>
								<li>Referral Wallet</li>
								<li>Cash Out</li>
								<li>N20,000 Return Investment</li>
							</ul>
							<a class="btn btn-primary" href="#">Get This Plan</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="single-table wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
							<h1>Premium</h1>
							<span class="package-price"><strong> N20,000 </strong></span>
							<ul>
								<li>2:1 Matrix</li> 
								<li>Auto Assign</li>
								<li>Pay Out/In Option </li>
								<li>Referral Wallet</li>
								<li>Cash Out</li>
								<li>N40,000 Return Investment</li>
							</ul>
							<a class="btn btn-primary" href="#">Get This Plan</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="single-table wow zoomIn" data-wow-duration="1000ms" data-wow-delay="600ms">
							<h1>Ultimate</h1>
							<span class="package-price"><strong> N50,000 </strong></span>
							<ul>
								<li>2:1 Matrix</li> 
								<li>Auto Assign</li>
								<li>Pay Out/In Option </li>
								<li>Referral Wallet</li>
								<li>Cash Out</li>
								<li>N100,000 Return Investment</li>
							</ul>
							<a class="btn btn-primary" href="#">Get This Plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End Pricing -->

	<!-- <div id="our_team">
		<div class="team-area">
			<div class="container">
				<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="col-md-offset-2 col-md-8">
						<h1>Meet The Team</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
					</div>
				</div>
				<div class="row text-center team-margin">
					<div class="col-md-3 col-sm-6">
						<div class="team-box wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
							<img class="img-responsive" src="images/team/1.jpg" alt="" />
							<h2>Marsha Burns</h2>
							<p>UI/UX Designer</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-box wow zoomIn" data-wow-duration="1000ms" data-wow-delay="400ms">
							<img class="img-responsive" src="images/team/2.jpg" alt="" />
							<h2>Ronald Cook</h2>
							<p>CEO</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus "></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-box wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
							<img class="img-responsive" src="images/team/3.jpg" alt="" />
							<h2>Darlene D. Lyons</h2>
							<p>Support Manager</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-box wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">							
							<img class="img-responsive" src="images/team/4.jpg" alt="" />														
							<h2>Martin Black</h2>
							<p>Web Developer</p>
							<div class="social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus "></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <! End our Team --> 
	
	<div id="testimonial" class="text-center parallax-section">	
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
				<!-- <h1> Testimonies </h1> -->
					<div id="testimonial-carousel" class="carousel slide" data-ride="carousel"> 
						<div class="carousel-inner">
							<div class="item active">
								<img class="img-responsive img-circle" src="images/member1.jpg" alt="" />
								<p>Hmmm, am so much in love with this platform called <span> Help Network INTL </span> is too real. Twinkas is always the best among all. Come join us lets twink together.</p>
								<span><strong>NWANDU CHINYELU, Anambra</strong></span>					
							</div>
							<div class="item">
								<img class="img-responsive img-circle" src="images/member2.jpg" alt="" />
								<p><span>Help Network INTL </span> have made me look up with joy as I got paid 100% this morning. 20k for 40k. Thanks HNI, keep the kite flying</p>
								<span><strong>BASSEY ANTHONY, Lagos</strong></span>					
							</div>
							<div class="item">
								<img class="img-responsive img-circle" src="images/member1.jpg" alt="" />
								<p>I am very happy to be part of <span> Help Network INTL</span>. I pledge 50,000 and received 100,000 within a short period. This is very amazing. Thank you HNI.</p>
								<span><strong>Richard, Lagos</strong></span>					
							</div>
						</div>
						<a class="testimonial-left" href="#testimonial-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="testimonial-right" href="#testimonial-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div><!--End testimonial -->
	
	<div id="blog">
		<div class="blog_area">
			<div class="container">
				<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="col-md-offset-2 col-md-8">
						<h1>Recent News</h1>
						<p>Check out recent happenings in Help Network Intl</p>
					</div>
				</div>
				<div class="row blog-margin-bottom">
					<div class="col-md-4 col-sm-6">
						<div class="blog-post wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="post-image">
								<a href="#"><img class="img-responsive" src="images/blog/software engineer.jpg" alt="" /></a>
								<a class="read-more-link" href="#"><span> Read </span></a>
							</div>
							<div class="post-content">								
								<h2><a href="#">I Am A Software Engineer</a></h2>
								<div class="post-info">
									<span><a href="#"><i class="fa fa-user"></i>admin</a></span>
									<span><a href="#"><i class="fa fa-tags"></i>Software</a></span>
									<span><a href="#"><i class="fa fa-comments-o"></i>1 comments</a> </span>
								</div>
								<p>Being a software engineer is not easy but its worth it, I love my Job and i love to code. Business development is the way forward</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="blog-post wow zoomIn" data-wow-duration="1000ms" data-wow-delay="400ms">
							<div class="post-image">
								<a href="#"><img class="img-responsive" src="images/blog/lighthouse.jpg" alt="" /></a>
								<a class="read-more-link" href="#"><span> Read </span></a>
							</div>
							<div class="post-content">
								<h2><a href="#">A City On A  Hill</a></h2>
								<div class="post-info">
									<span><a href="#"><i class="fa fa-user"></i>admin</a></span>
									<span><a href="#"><i class="fa fa-tags"></i>Design</a></span>
									<span><a href="#"><i class="fa fa-comments-o"></i>1 comments</a> </span>
								</div>
								<p>We are the light of the world as a city set on the hill can not be hidden.This is the confidence we have in christ that for all we ask in his name we shall receive</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="blog-post wow zoomIn" data-wow-duration="1000ms" data-wow-delay="500ms">
							<div class="post-image">
								<a href="#"><img class="img-responsive" src="images/blog/wallet.jpg" alt="" /></a>
								<a class="read-more-link" href="#"><span> Read </span> </a>
							</div>
							<div class="post-content">
								<h2><a href="#"> New Wallet Feature </a></h2>
								<div class="post-info">
									<span><a href="#"><i class="fa fa-user"></i>admin</a></span>
									<span><a href="#"><i class="fa fa-tags"></i>Design</a></span>
									<span><a href="#"><i class="fa fa-comments-o"></i>1 comments</a> </span>
								</div>
								<p>The advanced E-wallet module will be managed in three phases; General, Reseller and receiver panel. With your charities, we will fulfill their hope. “Never doubt that a small group of thoughtful, committed citizens can change the world"</p>
							</div>
						</div>
					</div>
					
				</div>			
			</div>
		</div>
	</div> <!-- End Blog Team -->
	
	<!-- <div id="twitter" class="text-center parallax-section">	
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
					<i class="fa fa-twitter"></i>
					<div id="twitter-carousel" class="carousel slide" data-ride="carousel"> 
						<div class="carousel-inner">
							<div class="item active">
								<p>Corpo is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it. <a href="#">@Creative and Awesome One Page Template</a><span><strong>7 hours ago</strong></span></p>
							</div>
							<div class="item">
								<p>Corpo is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it. <a href="#">@Creative and Awesome One Page Template</a><span><strong>9 hours ago</strong></span></p>
							</div>
							<div class="item">
								<p>Corpo is a Unique, Creative and Awesome One Page Template. Designer and the Developers did well with this template and i am happy to using it. <a href="#">@Creative and Awesome One Page Template</a><span><strong>13 hours ago</strong></span></p>
							</div>
						</div>
						<a class="testimonial-left" href="#twitter-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="testimonial-right" href="#twitter-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div><!End Twitter  -->
	
	
	
	<div id="contact" class="parallax-section">
		<div class="overlay"></div>
		<div class="container">
			<div class="row text-center top-title wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="col-md-offset-2 col-md-8">
					<h1>Contact Us</h1>
					<p>You can reach us on this platform if you have any complaints or suggestions. We await your feedback</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-1 col-sm-10">
					<div class="contact-form wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<form id="contact-form" class="contact-form" name="contact-form" method="post" action="#">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" name="name" class="form-control" required="required" placeholder="Name">
									</div>
									<div class="form-group">
										<input type="text" name="company" class="form-control" placeholder="Company">
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control" required="required" placeholder="Email Address">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
									</div>                                  
									<div class="form-group">
										<button type="submit" class="btn btn-primary">Send Your Message</button>
									</div>
								</div>
							</div>	
						</form>	
					</div>		
				</div>
			</div>
		</div>
	</div> <!-- End Contact  -->
	
	<footer>
		<div class="container text-center copyright-text wow zoomIn" data-wow-duration="1000ms" data-wow-delay="300ms">
			<p>&copy; Developed By <a href="demo.themeregion.com/corpo">BenNetwork Technologies</a></p>
		</div>		
	</footer> <!-- End Footer -->
	
	<!--/#scripts--> 
    <!-- <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/jquery.parallax.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="js/jquery.nav.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="js/jquery.nav.js"></script>
	<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>  -->
</body>
</html>
